<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!!
  </h1>  
</div>

<form [formGroup]="myForm">
  <input-box [(ngModel)]="entity.name" name="someName" formControlName="someName" [form]="myForm"></input-box>
  <input-box [(ngModel)]="entity.age" name="someAge" formControlName="someAge"  [form]="myForm"></input-box>

<hr />

{{ entity | json }}

<hr />

Dirty - {{ myForm.dirty }} <br />
Valid - {{ myForm.valid }} <br />
Pristine - {{ myForm.pristine }} <br />
Invalid - {{ myForm.invalid }} <br />

<hr />

<!--{{ someName.errors | json }}-->

<!--<div *ngIf="formErrors.name" class="alert alert-danger">
  {{ formErrors.name }}
</div>-->

</form>

<hr />
<button (click)="showSpinner()">show</button>
<button (click)="hideSpinner()">hide</button>
<br />
<spinner></spinner>